<!DOCTYPE html>
<html lang="en" ng-app="ccApp" ng-controller="AppCtrl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <title ng-bind="title.get()">Countries & Capitals</title>
    <!-- build:css style.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- endbuild -->
</head>

<body>

    <div class="site-wrapper">
        <div class="site-wrapper-inner" ng-class="{loading: isLoading}">
            <header id="top-navbar">
                <nav class="navbar" >
                    <div class="container-fluid col-md-8 col-md-offset-2">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#!/">Countries & Capitals</a>
                        </div>
                        <div class="collapse navbar-collapse bs-js-navbar-collapse" collapse="isCollapsed">
                            <ul class="nav navbar-nav navbar-right" ng-click="isCollapsed = true">
                                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                                <li ui-sref-active="active"><a ui-sref="countries">Browse</a></li>
                                <li><a ui-sref="home">Random</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>




            

            <div class="content-container" ng-click="isCollapsed = true">
                <!--            PARTIALS LOAD HERE        -->
                <div class="content-box col-sm-10 col-md-8 animated" ui-view autoscroll></div>
                
                
                <div class="mastfoot col-sm-8">
                    <div class="inner">
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- build:vendor js/lib.js -->
    <script src="./assets/libs/angular/angular.js"></script>
   <script src="./assets/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="./assets/libs/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="./assets/libs/angular-animate/angular-animate.js"></script>
    <script src="./assets/libs/angular-infinite-scroll-no-jquery/src/infinite-scroll.js"></script>
    <!-- endbuild -->
    <!-- build:js js/ngscripts.js -->
    <script src="./assets/js/combined-scripts.js"></script>
    <!-- endbuild -->
</body>

</html>