<h1>Countries</h1>
<p>{{ c.text }}</p>

<div class="scroll-list" infinite-scroll="c.loadMore()" can-load="true">
    <table class="table">
        <thead>
            <tr>
                <th>Country Name</th>
                <th>Code</th>
                <th>Capital</th>
                <th>Area in km2</th>
                <th>Population</th>
                <th>Continent</th>
            </tr>
        </thead>
        <tbody>
<!--            <div class="scroll-list" infinite-scroll="c.loadMore()" can-load="true">-->
            <tr ng-repeat="country in c.countryList track by country.countryCode" ng-click="c.countryPage(country)">
                <th>{{ country.countryName }}</th>
                <th>{{ country.countryCode }}</th>
                <th>{{ country.capital }}</th>
                <th>{{ country.areaInSqKm }}</th>
                <th>{{ country.population }}</th>
                <th>{{ country.continent }}</th>
            </tr>
<!--            </div>-->
        </tbody>
    </table>
</div>