<h1>Countries</h1>
<p>{{ c.text }}</p>

<div class="scroll-list" infinite-scroll="c.loadMore()" can-load="true">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Country Name</th>
                <th>Code</th>
                <th>Capital</th>
                <th>Area in km2</th>
                <th>Population</th>
                <th>Continent</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="country in c.countryList track by country.countryCode" ng-click="c.countryPage(country)">
                <td ng-bind="::country.countryName"></td>
                <td ng-bind="::country.countryCode"></td>
                <td ng-bind="::country.capital"></td>
                <td ng-bind="::country.areaInSqKm | number"></td>
                <td ng-bind="::country.population | number"></td>
                <td ng-bind="::country.continent"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="inner">
    <a ui-sref="home">
        <button class="btn btn-lg btn-default">Home</button>
    </a>
</div>