<h1>Countries and Capitals</h1>
<div class="inner">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quas ea nihil inventore id unde quaerat eaque, est harum doloribus facilis molestias voluptas sint quisquam autem alias distinctio! Quis, culpa.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ipsa, corrupti cumque rem laborum sunt ipsum inventore et eligendi. Sit beatae id nobis harum deleniti unde dolores odit voluptatem ipsam.</p>
</div>
<div class="inner">
    <a href="#!/countries"><button class="btn btn-lg btn-default">Browse Countries</button></a>
</div>